.placeholder {
  text-align: center;
  margin-bottom: 50px;

}

img{
  object-fit: cover;
  object-position: center;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border-width: 1px;
  border: solid;
  border-color: rgb(100,100,100);
}

.text {
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  
}
